<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="Mapper"> 
	<insert id="signUp" parameterType="Pack.dto.UserDTO">
		insert into user value(null, #{name}, #{id}, #{pw})
	</insert>
	
	<insert id="newComment" parameterType="Pack.dto.CommentDTO">
		insert into comment values(null, #{boardNo}, #{userNo}, #{comment}, now())
	</insert>
	
	<select id="commentList" parameterType="int" resultType="Pack.dto.CommentDTO">
		select name, comment, date, id, user.userNo, commentNo
		from comment
		join user on user.userNo = comment.userNo
		where boardNo = #{boardNo}
		order by commentNo;
	</select>
	
	<delete id="commentDelete" parameterType="int">
		delete from comment where commentNo = #{commentNo}
	</delete>
</mapper>